pytest
pyyaml
fastapi
uvicorn
httpx
jinja2
python-multipart
RPi.GPIO; platform_machine == "armv6l" or platform_machine == "armv7l" or platform_machine == "armv8l" or platform_machine == "aarch64"
RPLCD[i2c]; platform_machine == "armv6l" or platform_machine == "armv7l" or platform_machine == "armv8l" or platform_machine == "aarch64"
Adafruit_DHT; platform_machine == "armv6l" or platform_machine == "armv7l" or platform_machine == "armv8l" or platform_machine == "aarch64"